<section id="backend-section">
    <div class="container">
        <h2>Backend: Realizzazione con Spring Boot</h2>
        <div class="section-content">
            <h3>1. Introduzione</h3>
            <p>
                Il backend del mio sito web è stato sviluppato utilizzando Spring Boot, un framework Java che permette di creare API RESTful scalabili e sicure. Ho implementato una serie di funzionalità per la gestione degli utenti e dei dati tramite un database collegato.
            </p>

            <h3>2. Autenticazione con JWT</h3>
            <p>
                Per garantire la sicurezza dell'applicazione, ho implementato l'autenticazione tramite JSON Web Token (JWT). Un esempio pratico di Spring Security richiede l'autenticazione con JWT. 
                È possibile registrarsi per ottenere il token JWT e successivamente utilizzare questo token per effettuare il login.
            </p>

            <button style="z-index: 2;" (click)="toggleCode()" class="toggle-button">
                {{ showCode ? 'Mostra meno' : 'Mostra più' }}
            </button>

            <div *ngIf="showCode" class="code-container">
                <pre><code>
                    public class JwtAuthenticationFilter extends OncePerRequestFilter {{ '{' }}
        
                      private final JwtService jwtService;
                      private final UserDetailsService userDetailsService
        
                      protected void doFilterInternal( // la prima cosa che deve fare il filtro è controllare se la richiesta ha il jwt
                      &#64;NonNull HttpServletRequest request, &#64;NonNull HttpServletResponse response,
                      &#64;NonNull FilterChain filterChain) throws ServletException, IOException {{ '{' }}
                      final String authHeader = request.getHeader("Authorization");
                      final String jwt;
                      if (authHeader == null || !authHeader.startsWith("Bearer ")) {{ '{' }}
                        filterChain.doFilter(request, response);
                        return;
        
                        jwt = authHeader.substring(7);
                        final String userEmail = jwtService.extractUsername(jwt);
                
                        if (userEmail != null && SecurityContextHolder.getContext().getAuthentication() == null) {{ '{' }}
                            UserDetails userDetails = this.userDetailsService.loadUserByUsername(userEmail);
                
                            if (jwtService.isTokenValid(jwt, userDetails)) {{ '{' }}
                                UsernamePasswordAuthenticationToken authToken = new UsernamePasswordAuthenticationToken(
                                    userDetails, null, userDetails.getAuthorities());
                                authToken.setDetails(new WebAuthenticationDetailsSource().buildDetails(request));
                                SecurityContextHolder.getContext().setAuthentication(authToken);
                                {{ '}' }}
                            {{ '}' }}
                        {{ '}' }}
                        filterChain.doFilter(request, response);
               
                          {{ '}' }}
                </code></pre>
            </div>

            <h3>3. Registrazione e Accesso</h3>
            <form (ngSubmit)="onRegister(registerForm)" #registerForm="ngForm">
                <h4>Registrazione</h4>
                <p>Inserire Email e password casuali</p>
                <input type="email" name="email" placeholder="Email" ngModel required>
                <input type="password" name="password" placeholder="Password" ngModel required>
                <button type="submit">Registrati</button>
            </form>
            <div *ngIf="showRegisterInfo" class="info-message">
                <p>Quando clicchi su "Registrati", il backend genera un token JWT e lo restituisce al browser. Questo token viene salvato localmente per future richieste di accesso.</p>
                <div><p ><strong>Token JWT:</strong></p><span  ><p style="color: #ffffff !important; box-shadow: 1px 1px 1px 1px greenyellow; border-radius: 0.5vw; width: fit-content; padding: 1vw; " >{{ jwtToken }}</p></span></div>
                <img src="assets/google.png">
                <p>Il localStorage o i vari cookie per salvare la "sessione" ,possono essere visionati anche dalla console di Google</p>
            </div>
            
            <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
                <h4>Accesso</h4>
                <p>Inserire Email e password scelti precedentemente</p>
                <input type="email" name="email" placeholder="Email" ngModel required>
                <input type="password" name="password" placeholder="Password" ngModel required>
                <input type="password" name="jwtToken" ngModel required placeholder="Incolla il token JWT" />
                <button type="submit">Accedi</button>
            </form>
            <div *ngIf="showLoginInfo" class="info-message">
                <p>Quando clicchi su "Accedi", il token JWT salvato viene inviato al backend(sottoforma di parametro nell Header della richiesta) per verificare l'autenticità. Se le credenziali sono corrette, ottieni accesso alle funzionalità protette.</p>
                <p>Inoltre, la sezione "Progetti" è ora visibile, dimostrando come funziona realmente il backend in questo semplice esempio. È importante notare che nella pratica le cose possono essere più complesse: tutti i path degli endpoint sono protetti, tranne quelli di registrazione e autenticazione, che sono accessibili senza restrizioni. I restanti vengono resi disponibili solamente se si è autenticati</p>
            </div>

            <h3>4. Connessione al Database</h3>
            <p>
                Il backend è collegato a un database PostgresSQL. La configurazione di base è gestita tramite il file <code>application.properties</code>, questo riportato, è un esempio utilizzando i parametri in chiaro: 
                 <br><u style="font-style: italic;">Ps. In un ambiente di produzione, si utilizzano variabili d'ambiente .env per evitare di hardcodare informazioni sensibili come in questo caso</u>
            </p>
            <pre><code>
spring.datasource.url=jdbc:postgresql://localhost:5432/sito-curriculum #Stringa di collegamento al db
spring.datasource.username=root  
spring.datasource.password=password #Parametri di connessione hardcodati
spring.jpa.hibernate.ddl-auto=update #Configurazioni di spring boot
spring.jpa.properties.hibernate.default_schema=public #Configurazioni di spring boot
spring.jpa.show-sql=true #Configurazioni di spring boot
            </code></pre>

            <!-- Sezione per la visualizzazione dei progetti -->
        
            <section id="disclaimer-section">
                <div class="container">
                    <h2>Disclaimer: Un Sito Sicuro e Gestito Manualmente 🚀</h2>
            
                    <p>
                        <strong>Questo sito è sicuro e utilizza HTTPS</strong>, garantendo che tutte le comunicazioni tra il browser e il server siano criptate. La configurazione di HTTPS è stata realizzata manualmente, utilizzando certificati SSL validi per proteggere i dati e migliorare l'affidabilità del sito.
                    </p>
                    <p>
                        <strong>Il sito è ospitato su un server Hetzner con un dominio personalizzato</strong>, che ho configurato autonomamente per garantire performance elevate e sicurezza. Questo processo include la gestione completa del server e della configurazione del dominio.
                    </p>
                    <p>
                        La sezione "Progetti" è alimentata da un backend realizzato in Spring Boot, che gestisce dinamicamente i dati tramite API. Ogni progetto viene caricato in tempo reale, offrendo un'esperienza utente fluida e interattiva.
                    </p>
                    <p>
                        Nonostante le funzionalità moderne, l'intero sistema è stato progettato per essere semplice ed efficiente, dimostrando come frontend e backend possano lavorare insieme in modo efficace in un'applicazione full-stack.
                    </p>
                </div>
            </section>
            
